<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <title>Car Maintenance Manager</title>
  </head>
  <body>
    <!-- Need to fix nav layout. Seems to be conflicting with grid system -->
    <nav id="mainNavbar" class="navbar navbar-dark bg-dark">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-6"><a href="#" class="navbar-brand">APP NAME</a></div>
          <div class="col-2">
            <a href="#" class="navbar-text">Demo</a>
          </div>
          <div class="col-2">
            <a href="#" class="navbar-text">Sing Up</a>
          </div>
          <div class="col-2">
            <a href="#" class="navbar-text">LOG IN</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Need to fix nav layout. Seems to be conflicting with grid system -->
    <section>
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-6 d-flex align-items-center justify-content-center">
            <div>
              <h1 class="display-3">
                Showcase. App. Catch Phrases! At High-Level.
              </h1>
              <h3 class="display-5">
                Simple sub-header taking two or more lines. Lorem ipsum dolor
                sit amet consectetur
              </h3>
              <div class="d-flex justify-content-around">
                <button type="primary" class="btn btn-primary px-5">
                  Sign Up
                </button>
                <button type="button" class="btn btn-light pr-3 px-5">
                  LOG IN
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 pr-0 pt-5">
            <img
              class="img-fluid"
              src="../static/images/engine-stock-photo.jpg"
              alt="check-engine icon"
            />
          </div>
        </div>
      </div>
    </section>
    <section>
      <article>
        <div class="container-fluid text-center">
          <div class="row">
            <div class="col-6 pr-0 pt-5">
              <img
                class="img-fluid"
                src="../static/images/check_engine.png"
                alt="check-engine icon"
              />
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
              <div>
                <h1 class="display-3">Benefit #1 Lorem Ipsum dolor sitvel.</h1>
                <h3 class="display-5">
                  Describe huge benefit #1 of using our app and display a
                  screenshot of that functionality in the image or related icon
                </h3>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article>
        <div class="container-fluid text-center">
          <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-center">
              <div>
                <h1 class="display-3">Benefit #2 Lorem Ipsum dolor sitvel.</h1>
                <h3 class="display-5">
                  Describe huge benefit #2 of using our app and display a
                  screenshot of that functionality in the image or related icon
                </h3>
              </div>
            </div>
            <div class="col-6 pr-0 pt-5">
              <img
                class="img-fluid"
                src="../static/images/mobile-app.png"
                alt="check-engine icon"
              />
            </div>
          </div>
        </div>
      </article>
      <article>
        <div class="container-fluid text-center">
          <div class="row">
            <div class="col-6 pr-0 pt-5">
              <img
                class="img-fluid"
                src="../static/images/service.png"
                alt="check-engine icon"
              />
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
              <div>
                <h1 class="display-3">Benefit #3 Lorem Ipsum dolor sitvel.</h1>
                <h3 class="display-5">
                  Describe huge benefit #3 of using our app and display a
                  screenshot of that functionality in the image or related icon
                </h3>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
