body {
  background-color: #fff;
}

footer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.creator-profile {
  max-width: 400px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.navbar-links {
  color: black;
}

.head-img-container {
  height: 90%;
  width: 50%;
}

#hero {
  background-image: linear-gradient(
      to bottom,
      rgba(223, 224, 230, 0.52),
      rgba(5, 5, 5, 0.73)
    ),
    url(../static/images/car-bkgd.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.final-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 45px;
}

.final-btn {
  width: 25%;
}

.header-text {
  color: #fff;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.hero-h2 {
  font-size: x-large;
}
