.form-info-sec {
  max-width: 500px;
}

.forms-btn {
  width: 500px;
}

.form-input-prompt {
  margin-top: 20vh;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
